#modal{
    background-color: #0E0A14ef;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;

    
}

#modal.hide{
    display: none;
}

#modal .content{
    color: white;
    width: 420px;

}

#modal .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px ;
} 

#modal .header a{
    background-image: url("../icones/x.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 0.01px;
    border-radius: 100%;

}
#modal .header a:hover{
   background-color:#2fb85e; 
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
}

#modal .header h1{
    color: white;
    font-size: 36px;
    line-height: 42px;

}

#modal form label{
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 6px;
}

#modal form .field{
    display: flex;
}

#modal form input{
    flex: 1;
    background-color: #f0f0f5;
    border-radius: 8px 0 0 8px;
    border: 0;
    padding: 18px 24px ;
    font-size: 16px;
    color: #6c6c80;
}

#modal form button{
    width: 65px;
    height: 65px;
    background-color: var(--primary-color);/* mudar essa cor aqui*/
    border: 0;
    border-radius: 0 8px 8px 0;
}

#modal form button:hover{
    background-color: #2fb85e; /*escurecer essa cor */
     
}
/* isto é para o modal point created*/

#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal.point h1{
    color: white;
    margin-top: 32px;
}
