:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

*{
    margin: 0;
    padding: 0;
    /* o preenchimento ficará dentro da borda que vem depois do padding, as coisas só vao até o tamanho da borda*/
    box-sizing: border-box;

}
html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #28a02431;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}






